/* This is stylesheet.css an external style sheet */
/* Style whole page */
body {
background-color: lightblue;
margin: 0;
color: #2d3b71;
}
/* Wrapper div controls width of entire layout */
#wrapper {
  width: 90%;
min-width: 580px;
max-width: 1400px;
background-color: white;
border:solid 1px silver;
border-radius: 4px;
margin: 10px auto;
}
/* Page header at the top of each page */
header{
height:60px;
background-color: #2d3b71;
color: white;
line-height:60px;
} 
/* Navigation bar links (<a> tags) */
nav a{
text-decoration:none;
color:white;
font-size:115%;
}
/* Level 1 and Level 2 headings */
/* Main content below the header and navnar */
main{
padding: 8px;
}
h1{
margin: 0;
}
/* Navigation bar */
nav{
width: 250px;
float: right;
}
h2{
color: #64001f;
}
